
body {
  background-color: maroon;
  }

h1 {
  color: blue;
  font-family: goudyoldstyle;
  }

table {
  color: powderblue;
  font-family: goudyoldstyle;
  }

a:hover {
  background-color: yellow;
}
    
